body {
  background: #333333;
  color: #ffffff;
}

.navbar {
  border-bottom: #F2a74e 3px solid;
  opacity: 0.8;
}

#main-footer {
  background: #000000;
  color: #ffffff;
}

#faq .card {
  border: #2b2d41;
}

#faq a {
  color: #ffffff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #ffffff;
}

#aboutOne {
  background-color: #2b2d41;
}

#abouttwo {
  background-color: #2b2d41;
}

#aboutthree {
  background-color: #2b2d41;
}

#aboutfour {
  background-color: #2b2d41;
}

#about5 {
  background-color: #2b2d41;
}

#about6 {
  background-color: #2b2d41;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-caption {
  background-color: #2b2d41 !important;
}



